# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User settings
.*
Projects/Mac/Build
Projects/iOS/Build
Projects/Android/assets
Projects/Android/bin
Projects/Android/obj
Projects/Android/gen
Projects/Linux/obj
Projects/Linux/bin